<button mat-icon-button [matMenuTriggerFor]="menu" style="position: absolute">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="wall">
    <fa-icon [icon]="minionWallIcon"></fa-icon><span class="action-label">Wall</span>
  </button>
  <button mat-menu-item routerLink="customizer">
    <fa-icon [icon]="minionCustomizerIcon"></fa-icon><span class="action-label">Customize</span>
  </button>
</mat-menu>

<div style="height: 100%; width: 100%">
  <router-outlet style="height: 100%; width: 100%"></router-outlet>
</div>
