.action-label {
  margin-left: 1em;
}

.buttons {
  position: absolute;
  left: 0.25em;
  top: 0.25em;
}

.loading{
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(#1f1f1f,.75);
  z-index: 10;
}
