.all {
  //border-style: dotted;
  //border-color: gray;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-areas: 'config display';
}

.config {
  margin: 2em;
  //border-style: dotted;
  //border-color: gray;
  overflow-x: hidden;
  overflow-y: auto;
}

.display {
  //border-style: dotted;
  //border-color: gray;
  max-width: 95%;
  max-height: 95%;
}
