.lists {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.minionArea {
  width: 10em;
  height: 10em;
}
