.container {
  //border: darkgray;
  //border-style: dotted;
  //border-width: 1px;
  height: 100%;
  width: 100%;
}

.minion {
  //width: 100px;
}

.name {
  text-align: center;
  margin-left: 1em;
  margin-top: 0.5em;
}
